.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}


.header-icon {
  color: #7f8c8d;
  font-size: 18px;
}

.header-right {
  display: flex;
  align-items: center;
}

.connect-button,
.create-wallet-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1rem;
  transition: box-shadow 0.2s ease, transform 0.2s ease,
    background-color 0.2s ease, color 0.2s ease;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.create-wallet-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.connect-button:hover,
.create-wallet-button:hover {
  background-color: #f79e61;
  box-shadow: 0.25rem 0.25rem 0rem #000;
  transform: translate(-0.25rem, -0.25rem);
}

@media (max-width: 1024px) {
  .header {
    display: none;
  }
}
